# Ignore node modules
node_modules/

# Ignore environment variables
/.env

# Ignore temporary and debug files
/test-results/
/playwright-report/
/playwright/.cache/
error-global-setup.png

# Ignore editor files
*.code-workspace