name: After Push to base

on:
  push:
    branches:
      - main

jobs:
  run_playwright_tests:
      uses: ./.github/workflows/run-playwright.yml
      with:
        frontendHostname: main.dev.spsh.dbildungsplattform.de
        tag: dev
        browser: chromium
        playwright_branch: main
      secrets:
        SPSH_DEV_USER_SSHKEY: ${{ secrets.SPSH_DEV_USER_SSHKEY }}
        SPSH_DEV_KUBECONFIG: ${{ secrets.SPSH_DEV_KUBECONFIG }}
        SPSH_DEV_TUNNEL_USERNAME: ${{ secrets.SPSH_DEV_TUNNEL_USERNAME }}
        SPSH_DEV_TUNNEL_HOST: ${{ secrets.SPSH_DEV_TUNNEL_HOST }}
        SPSH_DEV_TUNNEL_PORT: ${{ secrets.SPSH_DEV_TUNNEL_PORT }}
        USER: ${{ secrets.USER }}
        PW: ${{ secrets.PW }}
        RC_WEBHOOK: ${{ secrets.RC_WEBHOOK }}